@using GeoMed.Views.Patient.Components.Table;

<div class="col-12" asp-single-html-node="true">
    <div class="row">
        <component type="typeof(PatientTable)" render-mode="ServerPrerendered" />
    </div>
</div>






