@using GeoMed.Views.Patient.Components.Table;
@using GeoMed.Views.Patient.Components.Modal;

<div class="col-12">
    <div class="row">
        <component type="typeof(PatientTable)" render-mode="ServerPrerendered" />
    </div>
</div>
@section scripts{

    <script src="~/js/view/patient/patient.js"></script>
}




