<div  id="stack1" class="modal fade" tabindex="-1" data-focus-on="input:first">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Stack One</h4>
    </div>
    <div class="modal-body">
        <p> One fine body… </p>
        <p> One fine body… </p>
        <p> One fine body… </p>
        <div class="form-group">
            <input class="form-control" type="text" data-tabindex="1">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" data-tabindex="2">
        </div>
        <button class="btn blue" data-toggle="modal" href="#stack2">Launch modal</button>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
        <button type="button" class="btn green">Ok</button>
    </div>
</div>
