
@functions{

    string IsActiveMenu(string _controller, string _action = null)
    {
        string controller = ViewContext.RouteData.Values["Controller"].ToString();
        string action = ViewContext.RouteData.Values["Action"].ToString(); 
        if (_action is null)
            return _controller == controller ? "m-menu__item--active" : "";
        return _controller == controller && _action == action ? "m-menu__item--active" : "";
    }
}
<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>

<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu"
         class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
         m-menu-vertical="1"
         m-menu-scrollable="0" m-menu-dropdown-timeout="500">
        <ul class="m-menu__nav ">

            <li class="m-menu__section m-menu__section--first">
                <h4 class="m-menu__section-text">الأقسام</h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>

            <li class="m-menu__item  @IsActiveMenu("Home")" aria-haspopup="true">
                <a asp-controller="Home" asp-action="Index" class="m-menu__link">
                    <span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-text">الرئيسية</span>
                </a>
            </li>

            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-layers"></i>
                    <span class="m-menu__link-text">البيانات</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <span class="m-menu__link">
                                <span class="m-menu__item-here"></span>
                                <span class="m-menu__link-text">البيانات</span>
                            </span>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a  asp-action="Index" asp-controller="Patient" class="m-menu__link "  >
                                <i  class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">المرضى</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                            <a href="inner.html" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">الإضبارات</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                            <a href="inner.html" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">الحالات</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>


            <!--m-menu__item--expanded-->
            <li class="m-menu__item  m-menu__item--submenu @IsActiveMenu("Map")" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-layers"></i>
                    <span class="m-menu__link-text">الخرائط</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <span class="m-menu__link">
                                <span class="m-menu__item-here"></span>
                                <span class="m-menu__link-text">الخرائط</span>
                            </span>
                        </li>

                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="inner.html" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">خرائط Google</span>
                            </a>
                        </li>

                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                            <a asp-controller="Map" asp-action="USA" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">مسقط USA</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>


            <li class="m-menu__section ">
                <h4 class="m-menu__section-text">الإحصائيات</h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>

            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                <a href="inner.html" class="m-menu__link ">
                    <span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-network"></i><span class="m-menu__link-text">المخططات</span>
                </a>
            </li>

            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                <a href="inner.html" class="m-menu__link ">
                    <span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-alert"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">المعادلات</span>
                            <span class="m-menu__link-badge"><span class="m-badge m-badge--danger">x^</span></span>
                        </span>
                    </span>
                </a>
            </li>

            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                <a href="inner.html" class="m-menu__link ">
                    <span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-technology"></i>
                    <span class="m-menu__link-text">التوقعات</span>
                </a>
            </li>


            <li class="m-menu__section ">
                <h4 class="m-menu__section-text">الإعدادات</h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>

            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                <a href="inner.html" class="m-menu__link ">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-cogwheel"></i><span class="m-menu__link-text">الملفات</span>
                </a>
            </li>
            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                <a href="inner.html" class="m-menu__link ">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-lifebuoy"></i><span class="m-menu__link-text">الحسابات</span>
                </a>
            </li>


            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <span class="m-menu__item-here"></span><i class="m-menu__link-icon flaticon-layers"></i>
                    <span class="m-menu__link-text">الإعدادات</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <span class="m-menu__link">
                                <span class="m-menu__item-here"></span>
                                <span class="m-menu__link-text">الإعدادات</span>
                            </span>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a asp-action="Index" asp-controller="Setting" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">تدريب شبكة العصبية</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>


        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>


