<ul class="m-nav-sticky" style="margin-top: 30px;">
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="كوفيد 19" data-placement="left">
        <a href="https://youtu.be/0MxulhivCvI" target="_blank"><i class="la la-cart-arrow-down"></i></a>
    </li>
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="الذكاء الصنعي" data-placement="left">
        <a href="https://www.youtube.com/watch?v=U6vLAa-kylM" target="_blank"><i class="la la-code-fork"></i></a>
    </li>
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="الدعم" data-placement="left">
        <a href="https://youtu.be/Xrak0EwHu9U" target="_blank"><i class="la la-life-ring"></i></a>
    </li>
</ul>