
@{
    Layout = "_Layout";
}


<div style="height: 70vh;">
    <div id="map-canvas" style="height: 100%; width: 100%"></div>
</div>


<script>
    var map;
    function initialize() {
        var c = new google.maps.LatLng(39.80723265592189, -101.52802026895328);
        var mapOptions = {
            zoom: 4,
            center: c
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    }

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?' +
            'key=&language=ar&callback=initialize';
        document.body.appendChild(script);
    }

    window.onload = loadScript; 
</script>

