@page "/"



<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-0 main-card p-1">
                <div class="card-header bg-white p-1 border-0 text-center">
                    آخر مراجعة
                </div>
                <div class="card-body border-0 text-center pt-2 p-1 ">
                    <strong>
                        2020 - 2 - 12
                    </strong>
                    <h6 class="text-center pt-1">عيادة الطبيب احمد - مستقر</h6>
                </div>
            </div>
        </div>
        <div class="col-12 py-3">
            <div class="avatar app-shadow rounded-circle overflow-hidden mx-auto d-flex align-items-center justify-content-center text-white" style="width: 140px; height: 140px; background: #34BFA3; border: solid 4px #fff;">
                استكشاف
            </div>
        </div>
        <div class="col-12 py-3">
            <div class="card border-0 mb-3 media-card app-white">
                <div class="card-body border-0 p-0">
                    <div class="d-flex">
                        <div>
                            <img src="./assets/img/avatar.jpg" width="100" style="height: 100%; object-fit: cover">
                        </div>
                        <div class="media-body px-2 py-2">
                            <h6 class="mt-0 media-head">Media heading</h6>
                            <p class="m-0">النوع : مراجعة</p>
                            <p class="m-0">الوصف : مراجعة</p>
                            <p class="m-0">الاستطبابات : مراجعة</p>
                            <p class="text-left m-0">
                                <small>2020 - 2 - 2</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

}
