@page "/"

<div class="container py-3">
    <div class="row">
        <div class="col-8">
            <h5>person name</h5>
        </div>
        <div class="col-4">
            sick
        </div>
        <div class="col-12">
            <hr />
            <label>Last Indeications</label>
            <p>
                What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?
            </p>
        </div>
        <div class="col-12">
            2021 - 12 - 21
        </div>
        <div class="col-12">
            <hr />
            <label>Health center name</label>
            <h6>pharma</h6>
            <hr />
            <strong>Notes</strong>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        @* family tree here *@
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Description</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
        </div>
    </div>
</div>