@page "/Login"

<div class="container">
    <h4 class="text-center pb-2">تسجيل الدخول</h4>
    <h1 class="text-center my-4"><strong style="color: #34BFA3">Geo<span class="text-danger">Med</span></strong></h1>
    <form>
        <div class="px-5">
            <div class="form-group">
                <label for="username">اسم المستخدم</label>
                <input class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="password">كلمة السر</label>
                <input class="form-control" id="password">
            </div>
        </div>

        <div class="text-center mt-5">
            <button type="submit" class="submit-btn btn rounded-pill px-5 py-2 text-white">إنشاء حساب</button>
        </div>
    </form>
</div>

    @code {

    }
