@page "/Map"
@inject IJSRuntime JSRuntime

<div style="height: 70vh;">
    <div id="map-canvas" style="height: 100%; width: 100%">
        <img src="_content/GeoMedHybrid/img/oopsmap.png">
    </div>
</div>



@code {
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //       // await JSRuntime.InvokeVoidAsync("initializeMap", null);
    //        StateHasChanged();
    //    }
    //}
}
