@page "/Profile"

<div class="container">
    <div class="row">
        <div class="col-12 py-3 text-center">
            <div class="avatar rounded-circle overflow-hidden mx-auto d-flex align-items-center justify-content-center text-white" style="width: 140px; height: 140px; border: solid 1px #000">
                <img src="./assets/img/avatar.jpg" class="w-100 h-100" style="object-fit: cover">
            </div>
            <h5 class="text-center pt-2">شارستان بطال</h5>
            <small>حلب - طالب جامعي</small>
        </div>
        <div class="col-12 py-3">
            <div class="card border-0 mb-3 media-card">
                <div class="card-body border-0 p-0">
                    <div class="d-flex">
                        <div>
                            <img src="./assets/img/avatar.jpg" width="100" style="height: 100%; object-fit: cover">
                        </div>
                        <div class="media-body px-2 py-2">
                            <h6 class="mt-0">Media heading</h6>
                            <p class="my-2">النوع : مراجعة</p>
                            <p class="m-0">الوصف : مراجعة</p>
                            <p class="m-0">الاستطبابات : مراجعة</p>
                            <p class="mb-0 mt-2">الاستطبابات : مراجعة</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card media-card border-0 mb-3" data-toggle="modal" data-target="#chatModal">
                <div class="card-body border-0">
                    <div class="avatar rounded-circle overflow-hidden mx-auto" style="width: 100px; height: 100px;">
                        <img src="./assets/img/avatar.jpg" />
                    </div>
                    <h5 class="mt-1 mb-0 text-center"><strong>some title</strong></h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card media-card border-0 mb-3" data-toggle="modal" data-target="#chatModal">
                <div class="card-body border-0">
                    <div class="avatar rounded-circle overflow-hidden mx-auto" style="width: 100px; height: 100px;">
                        <img src="./assets/img/avatar.jpg" />
                    </div>
                    <h5 class="mt-1 mb-0 text-center"><strong>some title</strong></h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card media-card border-0 mb-3" data-toggle="modal" data-target="#chatModal">
                <div class="card-body border-0">
                    <div class="avatar rounded-circle overflow-hidden mx-auto" style="width: 100px; height: 100px;">
                        <img src="./assets/img/avatar.jpg" />
                    </div>
                    <h5 class="mt-1 mb-0 text-center"><strong>some title</strong></h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card media-card border-0 mb-3" data-toggle="modal" data-target="#chatModal">
                <div class="card-body border-0">
                    <div class="avatar rounded-circle overflow-hidden mx-auto" style="width: 100px; height: 100px;">
                        <img src="./assets/img/avatar.jpg" />
                    </div>
                    <h5 class="mt-1 mb-0 text-center"><strong>some title</strong></h5>
                </div>
            </div>
        </div>
    </div>
</div>
