@page "/Register"

<div class="container">
    <h4 class="text-center pb-2">إنشاء حساب</h4>
    <form>
        <div class="px-5">
            <div class="form-group">
                <label for="username">اسم المستخدم</label>
                <input class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="password">كلمة السر</label>
                <input class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="fullname">الاسم الشخصي</label>
                <input class="form-control" id="fullname">
            </div>
            <div class="form-group">
                <label for="role">الوصف</label>
                <input class="form-control" id="role">
            </div>
            <div class="form-group">
                <label for="address">المكان</label>
                <input class="form-control" id="address">
            </div>
        </div>
        <div class="text-center mt-5">
            <button type="submit" class="submit-btn btn rounded-pill px-5 py-2 text-white">إنشاء حساب</button>
        </div>
    </form>
</div>

@code {

}
