@page "/Reviews"
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="btn btn-primary" id="newReviewButton" data-toggle="modal" data-target="#newReview">new review</button>

    <div class="modal fade" id="newReview" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>centers was visited</h5>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    center name
                </div>
                <div class="card-body">
                    <h6>doctor name</h6>
                    <small>2020/20/10</small>
                    <p class="m-0">This is a modified jumbotron that occupies ...</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    center name
                </div>
                <div class="card-body">
                    <h6>doctor name</h6>
                    <small>2020/20/10</small>
                    <p class="m-0">This is a modified jumbotron that occupies ...</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    center name
                </div>
                <div class="card-body">
                    <h6>doctor name</h6>
                    <small>2020/20/10</small>
                    <p class="m-0">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header">
                    center name
                </div>
                <div class="card-body">
                    <h6>doctor name</h6>
                    <small>2020/20/10</small>
                    <p class="m-0">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
        </div>
    </div>
</div>
