@inherits LayoutComponentBase


@inject HttpClient client
@inject NavigationManager NavigationManager
@inject AppData appdata

@if (!IsHideNav())
{
    <nav class="navbar bg-light app-white" hidden="@IsHideNav()">
        <ul class="list-unstyled m-0 w-100 d-flex justify-content-between align-items-center">
            <li class="d-flex">
                <div class="avatar rounded-circle overflow-hidden">
                    <img src="_content/GeoMedHybrid/img/avatar.jpg" />
                </div>
                <div class="py-1">
                    <h6 class="d-block m-0 px-2">@appdata.FullName</h6>
                    <small class="d-block px-2">@appdata.Career</small>
                </div>
            </li>
            <li class="d-flex align-items-center">
                <small class="pl-2">الحالة</small>
                <div class="d-inline-block badge badge-pill badge-primary p-2"></div>
            </li>
        </ul>
    </nav>
}


<main class="main">
    @Body
</main>


@if (!IsHideNav())
{
    <footer class="footer bg-light" hidden="@IsHideNav()">
        <img class="footer-musk" height="46" src="_content/GeoMedHybrid/img/musk.svg">
        <ul class="menu list-unstyled m-0 p-0 app-white">
            <li>
                <a href="/Doctors">
                    <span class="d-flex align-items-center justify-content-center">
                        <img width="20" src="_content/GeoMedHybrid/img/footer_3.png">
                    </span>
                </a>
            </li>
            <li>
                <a href="/Reviews">
                    <span class="d-flex align-items-center justify-content-center">
                        <img width="20" src="_content/GeoMedHybrid/img/footer_1.png">
                    </span>
                </a>
            </li>
            <li class="active">
                <a href="/Home">
                    <span class="d-flex align-items-center justify-content-center">
                        <img width="30" src="_content/GeoMedHybrid/img/footer_5.png">
                    </span>
                </a>
            </li>
            <li>
                <a href="/Map">
                    <span class="d-flex align-items-center justify-content-center">
                        <img width="14" src="_content/GeoMedHybrid/img/footer_4.png">
                    </span>
                </a>
            </li>
            <li>
                <a href="/Profile">
                    <span class="d-flex align-items-center justify-content-center">
                        <img width="20" src="_content/GeoMedHybrid/img/footer_2.png">
                    </span>
                </a>
            </li>
        </ul>
    </footer>
}

@code
{

    [Parameter]
    public string TestMessage { get; set; }

    public bool[] Shells { get; set; } = new bool[5] { false,false,true,false,false };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Bus.AppDataChanged = StateHasChanged;

        //http://localhost:44336/mobile/test
        // http://10.0.2.2
        try
        {
            // var res = await client.GetAsync(@"http://10.0.2.2:5000/mobile/test");
            // TestMessage = await res.Content.ReadAsStringAsync();
        }
        catch (Exception e)
        {
            // System.Diagnostics.Debug.WriteLine(e.Message);

        }

        //TestMessage = "non";
    }


    private bool IsHideNav()
    {
        var uri = NavigationManager.Uri.ToLower();
        bool res = !uri.Contains("doctors")
            && !uri.Contains("home")
            && !uri.Contains("map")
            && !uri.Contains("profile")
            && !uri.Contains("reviews");
        return res;
    }

    private void IsShell(int id)
    {

    }


    //private void toLogin()
    //{
    //    nav.NavigateTo("\\Login", true);
    //}


}
